
<!--<div id="home-text">-->
    <div id="slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--<div class="swiper-slide"></div>-->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div id="two-text">
        <ul></ul>
    </div>
    <!--<div id="three-text">-->
      <!--<ul>-->
      <!--</ul>-->
    <!--</div>-->

<!--<div id="four-text">-->
    <!--<img src="" alt="">-->
<!--</div>-->

<div id="last-text">
<ul></ul>
</div>
<!--</div>-->


