*{margin:0;padding:0;box-sizing:border-box;}
.clearfix:after{
    content:'x';
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
}
/*body,html{width:1100px;height:758px;}*/
#wrap{width:100%;height:100%;border-radius:5%;padding:0 2%;background:#f4f4f4;}
#wrap-text{width:100%;height:80%;border:1px  solid #333333;position:relative;}
#wrap>h1{font-size:18px;color:#f2ca12;width:100%;height:10%;display:flex;align-items:center;justify-content: center;}
#contener{width:100%;height:90%;}
#tab{width:100%;height:10%;background:#f6f6f6;position:absolute;bottom:0;left:0;}
#tab>ul{width:100%;height:100%;display: flex;align-items:center;}
#tab ul  li{width:25%;height:100%;float:left;text-align: center;}
#title{position:relative;width:100%;height:10%;background:#f2ca12;display:flex;align-items:center;justify-content:center;}
#search{width:10%;height:90%;position:absolute;right:0;}